.header {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(rgb(12, 12, 80), 60%, rgba(25, 25, 25, 0.5));
    position: fixed;
    z-index: 9;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-container {
            color: yellow;
            display: flex;
            align-items: center;
            font-size: 3vw;
            box-sizing: border-box;

            .hello-world {
                animation: rotate 3s ease-out infinite;
                transform: rotate(-5deg);
            }
        }

        .navigation-through-site {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            justify-content: space-around;
            align-items: center;

            .navigation-links {
                text-align: center;
                color: white;
                box-sizing: border-box;
                font-size: 2vw;
                font-family: "Barlow Condensed", sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-basis: max-content;
                cursor: pointer;
                border-right: 1px solid yellow;
                padding: 0 20px;

                &:hover {
                    color: yellow;
                    transition: 0.3s;
                }

                &.last-link {
                    border: none;
                }
            }

            .hamburger-menu {
                display: none;
                color: white;
                font-size: 30px;
            }

            img {
                width: 5%;
                height: auto;
            }
        }
    }
}

.mobile-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    padding: 20px;
    box-sizing: border-box;

    .close-mobile-menu {
        text-align: end;
        font-size: 20px;
        cursor: pointer;
    }

    .navigation-links {
        text-align: center;
        font-size: 30px;
        cursor: pointer;
        margin: 20px 0;

        &:hover {
            color: yellow;
            transition: 0.3s;
        }
    }
}

@keyframes rotate {
    50% {
        transform: rotate(5deg);
    }
}

@media only screen and (max-width: 769px) {
    .header {
        .container {
            .logo-container {
                font-size: 30px;
            }

            .navigation-through-site {
                .navigation-links {
                    display: none;
                }

                .hamburger-menu {
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }

    .mobile-menu {
        display: block;
    }
}
