.contact-me-section {
    height: 90vh;
    padding: 40px 0;
    background-color: rgba(12, 12, 80, 0.848);
    color: white;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .contact-me-modal {
            width: 40%;
            height: 80%;

            .form {
                .label-input-container {
                    margin: 10px 0;

                    label {
                        display: block;
                        margin-bottom: 10px;
                    }

                    input {
                        width: 100%;
                        border-radius: 20px;
                        outline: none;
                        padding: 10px 20px;
                        box-sizing: border-box;
                    }

                    textarea {
                        width: 100%;
                        border-radius: 20px;
                        outline: none;
                        padding: 10px 20px;
                        resize: none;
                        min-height: 100px;
                        font-family: inherit;
                        box-sizing: border-box;
                    }
                }

                .submit-mail-btn-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10px 0;

                    button {
                        padding: 10px 15px;
                        outline: none;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 769px) {
    .contact-me-section {
        .container {
            .contact-me-modal {
                width: 100%;
                height: auto;

                .form {
                    .label-input-container {
                        margin: 10px 0;

                        label {
                            display: block;
                            margin-bottom: 10px;
                        }

                        input {
                            width: 100%;
                            border-radius: 20px;
                            outline: none;
                            padding: 10px 20px;
                        }

                        textarea {
                            width: 100%;
                            border-radius: 20px;
                            outline: none;
                            padding: 10px 20px;
                            resize: none;
                            min-height: 100px;
                            font-family: inherit;
                        }
                    }

                    .submit-mail-btn-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 10px 0;

                        button {
                            padding: 10px 15px;
                            outline: none;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}
