/*
//==============================================================================================
//------------------------------------------------------------------------------------------
//			                        ALL PROJECTS SECTION
//------------------------------------------------------------------------------------------
//==============================================================================================
*/
.all_projects_section {
    background-image: url("../../../../assets/Backgrounds/projects-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: space-evenly;
    min-height: 91vh;
    padding-top: 80px;
    padding-bottom: 40px;

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .project-box-skeleton {
            width: 100%;
            margin-bottom: 30px;
            border-radius: 20px;

            span {
                height: 20vw;
                border-radius: 20px;
            }
        }
    }
}

/*
//==============================================================================================
//------------------------------------------------------------------------------------------
//			                            MEDIA QUERIES
//------------------------------------------------------------------------------------------
//==============================================================================================
*/

@media only screen and (max-width: 700px) {
    .all_projects_section {
        background-image: none;
        background-color: rgba(12, 12, 80, 0.848);
        padding-top: 100px;

        .container {
            .project-box-skeleton {
                width: 100%;
                margin-bottom: 30px;
                border-radius: 20px;

                span {
                    height: 30vw;
                    border-radius: 20px;
                }
            }
        }
    }
}
