.all_projects_container {
    width: 80%;
    height: 18vw;
    perspective: 500px;
    display: flex;
    margin: 3% 0;
    perspective: 500px;
    transition: 1s;
    position: relative;

    &:hover {
        width: 85%;
        height: 20vw;
    }

    &:hover .title {
        display: none;
    }

    &:hover .project_box {
        transition: 0.7s;
        transform: rotateY(0deg);
        border-radius: 5vw 0 0 5vw;
        box-shadow: none;
    }

    &:hover .project_box img {
        transition: 0.7s;
        border-radius: 5vw 0 0 5vw;
    }

    &:hover .description_box {
        transform: rotateY(0deg);
        transition: 0.5s;
        opacity: 1;
        border-radius: 0 5vw 5vw 0;
        font-size: 1.4vw;
    }
}

.project_box {
    width: 50%;
    transform-origin: 0 50%;
    transform-style: preserve-3d;
    overflow: hidden;
    background: linear-gradient(to right, #888, whitesmoke);
    position: relative;
    transform: rotateX(20deg);
    box-shadow: 0 0 2vw;
    &:hover .project_title_container {
        display: flex;
    }
}

.project_title_container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: white;
    letter-spacing: 0.05em;
}

.description_box {
    width: 50%;
    transform-origin: 100% 50%;
    transform: rotateY(-120deg);
    background: rgb(25, 164, 25);
    opacity: 0;
    color: white;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h3 {
        padding-left: 10%;
        margin: 1%;
        height: 20%;
        font-size: 1.4vw !important;
    }

    span {
        color: coral;
    }
}

.preview_btn {
    width: 20%;
    display: block;
    margin: 0 auto;
    height: 2.5vw;
    background: rgb(6, 86, 6);
    button {
        width: 100%;
        padding: 5% 0;
        background: rgb(6, 86, 6);
        color: white;
        outline: none;
        cursor: pointer;
        border: 0;
        font-size: 1.5vw;

        &:hover {
            background: rgb(7, 52, 7);
        }
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 60%;
    color: whitesmoke;
    font-size: 3vw;
    transform: translate(0, -50%);
    text-shadow: 0 0 1.5vw indigo;
}
